<!-- Обновленный шаблон home.html с использованием базового шаблона -->
{% extends 'catalog/base.html' %}
{% load custom_filters %}


{% block title %}Skystore{% endblock %}

{% block content %}
    <h1 class="products">Products</h1>
    {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description|slice:":100" }}</p>
            <p>Price: ${{ product.price }}</p>
            <img src="{{ product.image|media_url }}" alt="Product Image">
            <hr>
        </div>
    {% endfor %}
{% endblock %}